<h1>Documentary Fan Site</h1>

<h3>List of movies:</h3>

<ul>
  <% @movies.each do |movie| %>
  <li><%= link_to movie.title, movie_path(movie) %></li>
  <% end %>
</ul>

<%= link_to "Add a new Movie", new_movie_path(@movie) %>
