@import "bootstrap-sprockets";
@import "bootstrap";

hr {
  border-width: 3px;
}

li {
  list-style-type: none;
  font-size: 16px;
}

p {
  font-size: 18px;
}

#feature_film, img {
  max-width: 250px;
}

.title {
  text-align: center;
}
